<template id="modals">
    <div id="infoModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <!--<h4 class="modal-title" data-main="text:title"></h4>-->
                    <h4>Başlık</h4>
                </div>
                <div class="modal-body">
                    <!--<p data-main="text:content"></p>-->
                    <p>Can</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Tamam</button>
                </div>
            </div>
        </div>
    </div>
    <div id="errorModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <!--<h4 class="modal-title" data-main="text:title"></h4>-->
                    <h4>Başlık</h4>
                </div>
                <div class="modal-body">
                    <!--<p data-main="text:content"></p>-->
                    <p>Can</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Tamam</button>
                </div>
            </div>
        </div>
    </div>
    <div id="warningModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <!--<h4 class="modal-title" data-main="text:title"></h4>-->
                    <h4>Başlık</h4>
                </div>
                <div class="modal-body">
                    <!--<p data-main="text:content"></p>-->
                    <p>Can</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Tamam</button>
                </div>
            </div>
        </div>
    </div>
</template>
