<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>EduCare - @ViewData["Title"]</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div id="content">
        <div id="mainContent">

        </div>
    </div>
    @RenderBody()
    <script src="~/js/dist/educare.all.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
